{% extends "layout.html" %}

{% block title %}Bob Gaw's March Madness Pool{% endblock %}

{% block content %}
<section class="app">
	<div>
		<h2>Picks</h2>
		<section class="container">
			{% for team in picks %}
			<div class="item">
				<p id="team-name"><b>{{ team.name }}</b></p>
				<div class="breaker"></div>	
				<ul>
					<li style="{{ 'text-decoration:line-through; text-decoration-thickness: 3px;' if team.picks[0] in losers }}">{{ team.picks[0] }}</li>
					<li style="{{ 'text-decoration:line-through; text-decoration-thickness: 3px;' if team.picks[1] in losers }}">{{ team.picks[1] }}</li>
					<li style="{{ 'text-decoration:line-through; text-decoration-thickness: 3px;' if team.picks[2] in losers }}">{{ team.picks[2] }}</li>
					<li style="{{ 'text-decoration:line-through; text-decoration-thickness: 3px;' if team.picks[3] in losers }}">{{ team.picks[3] }}</li>
				</ul>
			</div>
			{% endfor %}
		</section>
	</div>
	<div class="section">
		<h2>Schedule</h2>	
		<section class="schedule">
			{% for game in schedule %}
			<div class="game">
		    	{% if game.status == 'final' %}
		    	<p id="{{'winner' if game.ht_score > game.at_score }}">{{ game.home_team }} {{ game.ht_score }}</p>
        		<p id="{{'winner' if game.ht_score < game.at_score }}">{{ game.away_team }} {{ game.at_score }}</p>
        		<p>Final</p>
		    	{% else %}
	        	<p>{{ game.home_team }} vs. {{ game.away_team }}</p>
        		<p>{{ game.ht_abbr }} {{ game.spread }}</p>
		    	{% endif %}
			</div>
			{% endfor %}
		</section>
	</div>
</section>
{% endblock %}